In [1]:
#getting started with pandas
#series
import pandas as pd
x = pd.Series([4,5,3,8,4])
x

0    4
1    5
2    3
3    8
4    4
dtype: int64

In [18]:
x = pd.Series([4,5,3,8,4], index = ["q","w","e","r","t"])
x

q    4
w    5
e    3
r    8
t    4
dtype: int64

In [19]:
x[["w",'r']]

w    5
r    8
dtype: int64

In [20]:
age = {"tim":23,"jim":33,"sam":31,"tam":22}
x = pd.Series(age)
x

tim    23
jim    33
sam    31
tam    22
dtype: int64

In [22]:
#dataframe
data = {"name": ["tim","jim","pam","sam"],
        "age": [23,43,21,34],
        'zip': ['21442','56445','81231','49542']}
x = pd.DataFrame(data,columns = ['name','age','zip'])
x

  name  age    zip
0  tim   23  21442
1  jim   43  56445
2  pam   21  81231
3  sam   34  49542

In [6]:
x.name

0    tim
1    jim
2    pam
3    sam
Name: name, dtype: object

In [34]:
x = pd.Series([4,5,3,8,4], index = ["q","w","e","r","t"])
x.index

Index(['q', 'w', 'e', 'r', 't'], dtype='object')

In [35]:
sorted(x.index, reverse=True)

['w', 't', 'r', 'q', 'e']

In [36]:
y = x.reindex(sorted(x.index, reverse=True))
y

w    5
t    4
r    8
q    4
e    3
dtype: int64

In [37]:
x

q    4
w    5
e    3
r    8
t    4
dtype: int64

In [11]:
x+y

e     6
q     8
r    16
t     8
w    10
dtype: int64

In [12]:
x = pd.Series([4,5,3,8], index = ["q","w","e","t"])
y = pd.Series([3,2,6,8], index = ["q","w","e","r"])
x + y

e    9.0
q    7.0
r    NaN
t    NaN
w    7.0
dtype: float64